### List

In [1]:
data1 = 10
data2 = 20
data3 = 30

In [2]:
data = [10, 20, 30]
print(data)

[10, 20, 30]

In [3]:
data = [10, 'Hello', 10.53]
print(data)

[10, 'Hello', 10.53]

In [5]:
class tmp_class:
    pass
data = [10, 'Hello', tmp_class()]
print(data)

[10, 'Hello', <__main__.tmp_class object at 0x7fd93e95b5e0>]

#### Indexing

In [8]:
data = [10, 20, 30, 40, 50, 60]

In [9]:
print(data[0])
print(data[1])
print(data[2])

10
20
30

In [10]:
print(data[2:5])

[30, 40, 50]

In [11]:
print(data[-1])

60

In [12]:
file_name = 'test_file.txt'
print(file_name)

test_file.txt

In [14]:
print(file_name[-3:])

txt

In [16]:
extension = file_name[-3:]
print(extension)

txt

In [19]:
tmp_list = [1, 2, 3]
tmp_list2 = [10, 20, 30]
print(tmp_list + tmp_list2)

[1, 2, 3, 10, 20, 30]

In [20]:
print(tmp_list*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### functions

In [21]:
tmp_list=[1, 2, 3]
tmp_string='Hello, World'

In [22]:
print(len(tmp_list))
print(len(tmp_string))

3
12

In [25]:
tmp_list = []
tmp_list = list()

In [26]:
tmp_list.append(10)
tmp_list

[10]

In [28]:
tmp_list.append('Hello')
tmp_list

[10, 'Hello', 'Hello']

In [30]:
tmp_list = [10, 20, 30]
tmp_list= [i for i in range(10)]
tmp_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### For Loop

In [32]:
tmp_list = [(i+10) for i in range(10)]
tmp_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
for data_index in range(len(tmp_list)):
    print(data_index, tmp_list[data_index])

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [35]:
for data in tmp_list:
    print(data)

10
11
12
13
14
15
16
17
18
19

In [44]:
tmp_list = [(i+10) for i in range(11)]
tmp_list2 = [(i+20) for i in range(11)]

In [45]:
for data_index in range(len(tmp_list)):
    print(data_index, tmp_list[data_index], tmp_list2[data_index])

0 10 20
1 11 21
2 12 22
3 13 23
4 14 24
5 15 25
6 16 26
7 17 27
8 18 28
9 19 29
10 20 30

In [46]:
tmp_list = [(i+10) for i in range(11)]

In [47]:
for data_idx, data in enumerate(tmp_list):
    print(data_idx, data)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19
10 20

In [48]:
tmp_list = [(i+10) for i in range(11)]

In [50]:
mean_val = 0
for i in range(len(tmp_list)):
    mean_val += tmp_list[i]/len(tmp_list)
print(mean_val)

14.999999999999998

In [51]:
sum_val = 0
for data_idex, data in enumerate(tmp_list):
    sum_val+= data
mean_val2 = sum_val/len(tmp_list)
mean_val2

15.0

### IF

In [53]:
tmp_list = [(i+50) for i in range(11)]

In [55]:
sum_val=0
data_cnt = 0
for data_idex, data in enumerate(tmp_list):
    if data>=50 and data<60:
        sum_val+=data
        data_cnt +=1

mean_val3 = sum_val/data_cnt        
mean_val3

54.5

In [57]:
tmp_list = [(i+10) for i in range(10)]
tmp_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
M=0
for data in tmp_list:
    if data>M:
        M=data
print(M)

19

Above loop is not used for minus values

In [66]:
tmp_list = [(i+-50) for i in range(10)]
tmp_list

[-50, -49, -48, -47, -46, -45, -44, -43, -42, -41]

In [67]:
# Max
M=None
for data in tmp_list:
    if (M == None) or (data > M):
        M=data
print(M)

-41

In [68]:
# Min
M=None
for data in tmp_list:
    if (M == None) or (data < M):
        M=data
print(M)

-50

In [75]:
score_list = [(i+10) for i in range(90)] + [-1]
score_list[:5]

[10, 11, 12, 13, 14]

In [78]:
grade_list = [0, 0, 0, 0]
for score in score_list:
    if score >= 90 and score < 100:
        grade_list[0] = grade_list[0] + 1
    elif score >= 80 and score < 90:
        grade_list[1] = grade_list[1] + 1
    elif score < 80 and score >= 0:
        grade_list[2] = grade_list[2] + 1
    else:
        class ScoreError(Exception):
            pass
        raise ScoreError("Invalid Score")

ScoreError: Invalid Score

In [77]:
print(grade_list)

[10, 10, 70, 0]

### Dictionary

In [79]:
import numpy as np

In [122]:
score_list = np.random.randint(1, 20, size=1000)
min(score_list)

1

In [128]:
M, m = None, None
for score in score_list:
    if M == None or score > M:
        M = score
    if m == None or score < m:
        m = score
print(M, m)

19 1

In [127]:
print(M-m)

18

In [125]:
cnt_list = [0 for i in range(M-m+1)]
print(cnt_list, len(cnt_list))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] 19

In [103]:
np.random.randint()
score_list[10:30]

array([ 7, 19, 19, 18, 11, 11, 16, 17, 15, 16, 11, 15, 15, 11,  6,  3,  0,
       17, 12, 18])

In [116]:
score_list.argmin()
print(score_list[20])

0

In [129]:
for score in score_list:
    cnt_list[score-1] = cnt_list[score-1] + 1
print(cnt_list)

[55, 48, 44, 61, 57, 53, 61, 58, 40, 59, 54, 56, 64, 49, 53, 49, 45, 57, 53]

In [130]:
tmp_dict = dict()
tmp_dict['A'] = 10
tmp_dict['B'] = 20
tmp_dict['C'] = 100
print(tmp_dict)

{'A': 10, 'B': 20, 'C': 100}

In [132]:
score_list = np.random.randint(1, 20, size=1000)
max(score_list)

19

In [135]:
cnt_dict = dict()
#print(cnt_dict[0])
# If no key 10, give me 50
print(cnt_dict.get(10, 50))

50

In [136]:
score_list[:30]

array([ 4,  7, 12, 16,  3, 14, 14, 12, 15,  5, 19, 12,  6, 11, 17,  2, 19,
        2, 13,  6, 15, 15, 11, 18,  5,  9, 16, 18, 12,  3])

In [139]:
cnt_dict = dict()
for score in score_list:
    cnt_dict[score]=cnt_dict.get(score, 0) + 1
cnt_dict

{4: 56,
 7: 57,
 12: 58,
 16: 49,
 3: 48,
 14: 51,
 15: 57,
 5: 54,
 19: 53,
 6: 57,
 11: 42,
 17: 61,
 2: 41,
 13: 52,
 18: 61,
 9: 53,
 10: 41,
 1: 54,
 8: 55}

In [141]:
cnt_dict.keys()

dict_keys([4, 7, 12, 16, 3, 14, 15, 5, 19, 6, 11, 17, 2, 13, 18, 9, 10, 1, 8])

In [142]:
cnt_dict.values()

dict_values([56, 57, 58, 49, 48, 51, 57, 54, 53, 57, 42, 61, 41, 52, 61, 53, 41, 54, 55])

In [143]:
cnt_dict.items()

dict_items([(4, 56), (7, 57), (12, 58), (16, 49), (3, 48), (14, 51), (15, 57), (5, 54), (19, 53), (6, 57), (11, 42), (17, 61), (2, 41), (13, 52), (18, 61), (9, 53), (10, 41), (1, 54), (8, 55)])

In [144]:
M_score = None
for k, v in cnt_dict.items():
    if M_score is None or v > M_score:
        M_score = v
M_score

61

## Function

In [148]:
def adder(operand1, operand2):
    print('operand1', operand1)
    print('operand2', operand2)
    print('addition', operand1+operand2)
    return operand1+operand2

In [149]:
adder(1, 5)

operand1 1
operand2 5
addition 6

6

In [157]:
def extractor(input_list, cutoff_min, cutoff_max):
    return_list = []
    for val in input_list:
        if val >= cutoff_min and val <cutoff_max:
            return_list.append(val)
    return return_list

In [158]:
extractor(tmp_list, 20, 30)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [159]:
for cutoff_min in range(0, 70, 10):
    e_list = extractor(tmp_list, cutoff_min, cutoff_min+10)
    print(e_list)

[]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
[40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69]

In [160]:
a = "Global!"

In [163]:
def tmp_function():
    a = "Local"
    print(a)
tmp_function()

Local

### Class

In [167]:
class test_class:
    def __init__(self, x, y):
        print("Hello")
        print(x, y)
    pass
tmp = test_class(10, 20)
print(tmp)

Hello
10 20
<__main__.test_class object at 0x7fd93f1c7430>

In [169]:
class test_class:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    pass
tmp = test_class(10, 20)
print(tmp.x, tmp.y)

10 20

In [174]:
class test_class:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.add = None
    def adder(self):
        self.add= self.x + self.y
    pass

tmp = test_class(10, 20)
tmp.adder()

In [175]:
tmp.add

30

In [181]:
class test_class:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.add = None
    def adder(self):
        return self.x + self.y
    def substractor(self):
        return self.x - self.y
    def multiplier(self):
        return self.x*self.y

tmp = test_class(10, 20)
tmp.adder()
tmp.substractor()
tmp.multiplier()

200

In [184]:
input_data = np.random.randint(0, 10, size=(10,))
input_data.mean()

5.2

In [187]:
class node:
    node_cnt = 0

    def __init__(self, x, y):
        self.x, self.y = x, y
        self.add = None
        self.adder()
        
        node.node_cnt += 1
        
    def adder(self):
        self.add = self.x+self.y
node1 = node(10, 20)

In [188]:
print(node1.x, node1.y, node1.node_cnt)

10 20 1

In [192]:
node2 = node(30, 40)
print(node2.x, node2.y, node2.node_cnt, node2.add)

30 40 3 70

In [193]:
class test_class:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.result = None

    def _adder(self):
        return self.x + self.y
    def _substractor(self):
        return self.x - self.y
    def _multiplier(self):
        return self.x*self.y

#### Class Practice

In [197]:
a = 10 + 20j
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [198]:
print(a.real)
print(a.imag)

10.0
20.0

In [199]:
b = [5, 2, 3]
print(dir(b))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [200]:
score_list = [50, 70, 40, 90, 95, 20, 15, 65, 77]

In [221]:
class grader:
    def __init__(self, score_list):
        self.score_list = score_list
        
        self._grade_list = None
        self._cutoff_list = None
        
        self._init_grader()
        
    def _init_grader(self):
        self._grade_list = ['A', 'B', 'C', 'F']
        self._cutoff_list = [100, 90, 80, 70, 0 ]
    
    def score2grade(self):
        return_grade_list = []
        for score_idx, score in enumerate(self.score_list):
            if score >= self._cutoff_list[1] and score < self._cutoff_list[0]:
                return_grade_list.append(self._grade_list[0])
            elif score >= self._cutoff_list[2] and score < self._cutoff_list[1]:
                return_grade_list.append(self._grade_list[1])
            elif score >= self._cutoff_list[3] and score < self._cutoff_list[2]:
                return_grade_list.append(self._grade_list[2])
            elif score >= self._cutoff_list[4] and score < self._cutoff_list[3]:
                return_grade_list.append(self._grade_list[3])
            else:
                return_grade_list.append("NR")
            
            
        print(return_grade_list)

In [224]:
score_list = [50, 70, 40,-3 ,90, 95, 20, 15, 65, 77]
tmp = grader(score_list)

In [225]:
tmp.score2grade()

['F', 'C', 'F', 'NR', 'A', 'A', 'F', 'F', 'F', 'C']

In [205]:
tmp._cutoff_list

[100, 90, 80, 70, 0]